.pusheen-loader {
  .pusheen-container {
    display : block;
    margin-left : auto;
    margin-right : auto;
  }

  .pusheen-img {
    display : inline-block;
    width : 262px;
    height : 174px;
  }

  .pusheen-msg {
    text-align : center;
  }
}
