.search-bar {
   display : table;

  .dropdown {
    display : table-cell;
    vertical-align : top;

    .caret {
      margin-left : 5px;
    }

    a:hover {
      cursor : pointer;
    }
  }

  .input-container {
    width : 100%;

    .input-group {
      width : 100%;
    }
  }
}
