#trend-graph {

  .trend-graph-svg-container {
    border : 1px grey solid;
    border-radius : 5px;

    margin-left : auto;
    margin-right : auto;
  }

  .mg-chart-title {
    display : inline;
    font-size : 15px;
    float : left;
    margin-left : 20px;
    margin-top : 0px;
    margin-bottom : 0px;
    padding : 0px;

    position : relative;
    top : 12px;
  }

  .trend-graph-rollover-text, .trend-graph-legend {
    position : relative;
    top : 10px;
    height : 25px;
  }

  .trend-graph-rollover-text {
    float : right;
    margin-right : 20px;
  }

  .trend-graph-legend {
    float : left;
    margin-left : 20px;
    z-index : 1000;
    cursor : pointer;
  }

  svg {
    position : relative;
    top : -30px;
  }
}
